
.Green{
    background-color: #FFB86C;
    color: #4A2C2A;
    border-radius: 10px;
     text-align: center;
     border-style: groove;
}

.black {
    background-color: #FFB86C;
    color: #4A2C2A;
    border-radius: 10px;
    text-align: center;
    border-style: groove;
}

.menu {

    background-color: #FFF7A5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0.8rem;
    border-radius: 10px;
    border-color: #4A2C2A;
    border-style: groove;
    
}

.special {
    background-color: #f4935f;
    color: rgb(15, 9, 1);
    grid-column: span 3;
    text-align: center;
    border-radius: 10px;
    
    
}

