body {
  background-color: antiquewhite;
  color: rgb(89, 55, 5);
  font-family: Arial, sans-serif;
  margin: 0;
}

#main-title {
  color: #336941;
}


.text-box {
  color: rgba(0, 0, 0, 0.7);
}


header h1 {
  color: #ff0000;
}